@model IEnumerable<Roomax.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Catégories</h2>

<p>
    @Html.ActionLink("Ajouter une catégorie", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Details", new { id = item.ID })"><i class="fa fa-info-circle"></i></a>
            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
