
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackOffice | @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Roomax.css" rel="stylesheet" />

</head>
<body>
    <div class="container ">
        <nav class="row navbar navbar-expand-lg bg-info">
            <ul class="nav">
                <li><h1 class="lead text-white">BackOffice</h1></li>
                <li><a href="@Url.Action("Index", "Dashboard")" class="col-2 text-white">Accueil BackOffice</a></li>
                <li><a href="@Url.Action("Index", "Home", new { area = "" })" class="col-2 text-white">App</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Salles</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item " href="@Url.Action("Index", "Rooms")">Voir les Salles</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Categories")">Voir les Catégories</a>
                    </div>
                </li>
            </ul>
        </nav>

        @RenderBody()
    </div>
    <div class="container">
        <div class="row">
            <footer class="bg-info w-100">
                &copy; BACKOFFICE POEC Rouen 2018
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("SectionScripts", false)
</body>
</html>
